/*En tête*/
h1{
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    color: #A2B5BF;
    font-size: 30px;
    padding-top: 5px;
}
h4{
text-align: left;
margin-left: 15px;
font-size: 20px;
color: #C44C51;

}
#section{
    background: url(fond.jpg) no-repeat;
    background-size: 100%;
}
/*Corp*/
#sous-sec{
    position: relative;
    color:#A2B5BF;
    left: 100px;
}
body {   
    padding: 5px;   
    margin: 6px;   
    background:white;
    color:black;
}

p{
    text-align: center;
}
/*Boutton*/
.button{
    position: relative;
    left: 510px;
    width: 200px;
    display: block;
    font-weight: bold;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button:hover{
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
/*Footer*/
div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }
 