body {   
    padding: 5px;   
    margin: 5px;   
    background:white;
    color:black;
}

#section{
    text-align: left;
    color:#A2B5BF;
    margin:10px;
    font-weight: bold;
}

#sous-sec{
    position: relative;
    color:#A2B5BF;
    left: 100px;
}

p{
    text-align: center;
}
.button{
    position: relative;
    left: 510px;
    width: 200px;
    display: block;
    font-weight: bold;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button:hover{
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.container {
    position: relative;
    text-align: center;
    width: 1200px;
    height: 300px auto;
    margin: 20px;
    padding:20px;
}

.container .box{
    position: relative;
    text-align: center;
    width: 580px;
    height: auto;
    float: left;
}