/*Page 15 : enchere_objet1.css*/
 
/*Barre de navigation*/
 

#fond{
   background: url(fond.jpg) no-repeat;
   background-size: 100%;
}
#titre{
   text-align: center;
   color: #5F8CA3;
   font-size: 30px;
   padding-top: 5px;  
 
}
#st{
   text-align: center;
   font-size: 20px;
   color:#C44C51;
}
/*Pour aligner le boutton home à droite*/
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   
}

li{
   float: right;
   position: relative;
   right: 40px;
}

#image{
text-align: center;
}

.description{
   text-align: center;
   font-size: 18px;
}

#prix{
   text-align: center;
   font-size: 20px;
}
#offre{
   text-align: center;
   font-size: 20px;
}
/*Bouton soumettre*/
.button{
   float: none;
   color: #ffb6b8;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.button:hover{
   background-color:#C44C51;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
}
  
 /*Footer*/
  div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }
 
 