body {   
    padding-inline-start: 5px;
    margin: 5px;   
    color:black;
}
/*En tête*/
#titre{
    text-align: center;
    color: #5f8ca3;
    font-size: 30px;
    padding-top: 5px;
}
#st{
    text-align: center;
    font-size: 20px;
    color: #C44C51;
}

#fond{
    background: url(fond.jpg) no-repeat;
    background-size: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    font-weight: bold;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change la couleur du bloc en passage souris */
li a:hover {
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
/*Corp*/
h2{
    text-align: center;
    font-size: 25px;
    color: #C44C51;
    font-weight: bold;
}

#section{
    position: relative;
    color:#A2B5BF;
    font-weight: bold;
    margin: 10px;
}
#position{
    float: right;
    right: 420px;
    position: relative;
}


a{
    color:#A2B5BF;
}

.container {
    position: relative;
    text-align: center;
    width: 1200px;
    height: 300px auto;
    margin: 20px;
    padding:20px;
}

.container .box{
    position: relative;
    text-align: justify;
    width: 580px;
    height: auto;
    float: left;
    margin: 10px;
}

#img{
    padding-left: 150px;
}
/*Pour le foot*/


div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }