body {   
    padding: 5px;   
    margin: 0px;   
    background:white;
    color:black;
}
/*En tête*/
#section{
    position: relative;
    color: #5f8ca3;;
    font-size: 30px;
    padding-top: 5px;
}
#fond{
    background: url(fond.jpg) no-repeat;
    background-size: 100%;
}
/*corp*/
#corp{
    text-align: center;
    color: #C44C51;
    font-size: 25px;
}

.button{
    position:relative;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    color: #ffb6b8;
    padding: 14px 16px;
    text-decoration: none;
}

.button:hover{
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }