body {   
    padding: 5px;   
    margin: 5px;   
    background:white;
    color:black;
}

#fond{
    background: url(fond.jpg) no-repeat;
    background-size: 100%;
 }

#section{
    text-align: left;
    color:#A2B5BF;
    margin:10px;
    font-weight: bold;
}

a{
    color:#A2B5BF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    font-weight: bold;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change la couleur du bloc en passage souris */
li a:hover {
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

table{
    position: relative;
}
td{
    text-align: center;
}

.button{
    float: none;
    display: block;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button:hover{
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }
