/*Page 20 : loginAdmin.css*/
 
/*Barre de navigation*/
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
  
}
li {
   float: right;
   position: relative;
   right: 40px;
}

 
 
/*Titres en en-tête*/
 
#titre{
  text-align: center;
  color: #5F8CA3;
  font-size: 30px;
  padding-top: 5px;  

}
#st{
  text-align: center;
  font-size: 20px;
  color:#C44C51;
}
#fond{
   background: url(fond.jpg) no-repeat;
   background-size: 100%;
}
 /*Body*/
 div.instruction_formulaire{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5F8CA3;
 }
  
 div.formulaire{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3 ;
 }
  
 div.button1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    padding-left: 500px;
    padding-right: 500px;
  
 }
  
 div.button1 li{
    float: unset ;
  
 }
  
 div.button1 li a{
    display: block;
    font-weight: bold;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
 }
  
 div.button1 li a:hover {
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
 }
  
 form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
 /*Footer*/
 div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }
 