
#fond{
    background: url(fond.jpg) no-repeat;
    background-size: 100%;
}
#titre{
    text-align: center;
    color: #5F8CA3;
    font-size: 30px;
    padding-top: 5px;  
  
}
#st{
    text-align: center;
    font-size: 20px;
    color:#C44C51;
}
/*Pour aligner le boutton home à droite*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
    float: right;
    position: relative;
    right: 40px;
}
/* Pour faire le boutton de l'offrre*/
.button{
    float: none;
    color: #ffb6b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.button:hover{
    background-color:#C44C51;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.nom{
    font-size: 20px;
    font-weight: bold;
}

#item{
    height: 6em;
    width:auto;
}

/*Position image et texte*/
.desc2{
    float: right;
    position: relative;
    right:650px;
    font-size: 20px;
}
.desc1{
    float: right;
    position: relative;
    right:520px;
    font-size: 20px;
}
.img{
    margin-left: 30px;
}
.nom{
    font-size: 23px;
}

/*Pour le foot*/
div.container{
    font-size: large;
    text-align: center;
 }
 div.foot{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#5F8CA3;
 }